<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.whend.soodal.whend"
    android:versionName="1.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="net.whend.soodal.whend.permission.C2D_MESSAGE" />
    <permission
        android:name="net.whend.soodal.whend.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_03"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        >

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/analytics_global_config" />

        <service
            android:name=".util.AuthenticatorService"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name=".Setup"
            android:label="@string/activity_title_setup" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/calendar_sync_adapter" />
        </activity>
        <activity
            android:name=".view.A0_0_OpenAcitivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.A0_1_LoginActivity"
            android:label="@string/title_activity_a0__1__loginactivity" >
        </activity>
        <activity
            android:name=".view.A0_2_SignUpActivity"
            android:label="@string/title_activity_a0__2__signupactivity" >
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:label="@string/title_activity_mainactivity"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>
        <activity
            android:name=".view.A1_UploadActivity"
            android:label="@string/title_activity_a1__upload" >
        </activity>
        <activity
            android:name=".view.A2_UserProfileActivity"
            android:label="@string/title_activity_a2__userprofile" >
        </activity>
        <activity
            android:name=".view.A3_SpecificScheduleActivity"
            android:label="@string/title_activity_a3__specificschedule" >
        </activity>
        <activity
            android:name=".view.A4_MakeScheduleActivity"
            android:label="@string/title_activity_a4__make_schedule" >
        </activity>
        <activity
            android:name=".view.A5_WhoFollowsScheduleActivity"
            android:label="@string/title_activity_a5__whofollowsschedule" >
        </activity>
        <activity
            android:name=".view.A6_WriteCommentActivity"
            android:label="@string/title_activity_a6__writecommentactivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" >
        </activity>
        <activity
            android:name=".view.A7_SpecificHashTagActivity"
            android:label="@string/title_activity_a7__specifichashtagactivity" >
        </activity>
        <activity
            android:name=".view.A8_SettingActivity"
            android:label="@string/title_activity_a8__setting" >
        </activity>
        <activity
            android:name=".view.A9_ShowFollowingObjectsActivity"
            android:label="@string/title_activity_a9__showfollowingobjectsactivity" >
        </activity>
        <activity
            android:name=".view.A10_ShowSchedulesActivity"
            android:label="@string/title_activity_a10__showschedulesactivity" >
        </activity>
        <activity
            android:name=".view.A11_EditScheduleActivity"
            android:label="@string/title_activity_a11__editscheduleactivity" >
        </activity>

        <activity
            android:name=".tutorial.T1_welcome"
            android:label="@string/title_activity_t1_welcome" >
        </activity>
        <activity
            android:name=".tutorial.T2_1_tagfollowing"
            android:label="@string/title_activity_t2_tagfollowing" >
        </activity>
        <activity
            android:name=".tutorial.T2_2_tagfollowing"
            android:label="@string/title_activity_t2_tagfollowing" >
        </activity>
        <activity
            android:name=".tutorial.T2_3_tagfollowing"
            android:label="@string/title_activity_t2_tagfollowing" >
        </activity>
        <activity
            android:name=".tutorial.T3_1_upload"
            android:label="@string/title_activity_t2_tagfollowing" >
        </activity>
        <activity
            android:name=".tutorial.T3_2_upload"
            android:label="@string/title_activity_t2_tagfollowing" >
        </activity>

        <activity
            android:name=".view.setting.S1_Preparing"
            android:label="@string/title_activity_s1__ready" >
        </activity>
        <activity
            android:name=".view.setting.S2_Version"
            android:label="@string/title_activity_s2__version" >
        </activity>
        <activity
            android:name=".view.setting.S3_Profile"
            android:label="@string/title_activity_s3__profile" >
        </activity>
        <!-- GCM Receivers -->


        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="net.whend.soodal.whend" />

            </intent-filter>
        </receiver>

        <!-- Optionally, register AnalyticsReceiver and AnalyticsService to support background
             dispatching on non-Google Play devices -->
        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>

        <!-- Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting -->
        <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />



        <service
            android:name="net.whend.soodal.whend.util.gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>

        </service>
        <service
            android:name="net.whend.soodal.whend.util.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service
            android:name="net.whend.soodal.whend.util.gcm.RegistrationIntentService"
            android:exported="false"></service>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

    </application>

</manifest>
