<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.whend.soodal.whend" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.A1_UploadActivity"
            android:label="@string/title_activity_a1__upload" >
        </activity>
        <activity
            android:name=".view.A2_UserProfileActivity"
            android:label="@string/title_activity_a2__userprofile" >
        </activity>
        <activity
            android:name=".view.A3_SpecificScheduleActivity"
            android:label="@string/title_activity_a3__specificschedule" >
        </activity>
        <activity
            android:name=".view.A4_MakeScheduleActivity"
            android:label="@string/title_activity_a4__make_schedule" >
        </activity>
        <activity
            android:name=".view.A5_WhoFollowsScheduleActivity"
            android:label="@string/title_activity_a5__whofollowsschedule">

        </activity>
        <activity
            android:name=".view.A6_WriteCommentActivity"
            android:label="@string/title_activity_a6__writecommentactivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize"
            >

        </activity>
    </application>

</manifest>
